@import 'my-react-component/src/styles/typeface.module.scss';
@import 'my-react-component/src/styles/colors.module.scss';
// @import '../../../styles/common.scss';
// HeaderItemList.tsx
.header-item {
  padding: 16px;
  display: flex;
  gap: 10px;
  position: relative;
  cursor: pointer;
  & > .title {
    @include typeface('Paragraph_1_b');
  }
  .mobile & {
    min-width: 130px;
  }
}

// ColumnExplain.tsx
.column-explain {
  display: flex;
  flex-direction: column;
  gap: 2px;
  & > .break-words {
    display: inline-block;
    @include typeface('Paragraph_3_b');
    color: color('grey_999');
    // white-space: nowrap;
    word-break: break-all;
    // overflow: hidden;
    text-overflow: ellipsis;
  }
}
.heading {
  @include typeface-ridi('Heading_2');
}
.description {
  margin: 0;
  @include typeface-ridi('Paragraph_1_m');
  color: color('grey_666');
}
.tool {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  & > .tool-item {
    background: color('bg_grey');
    padding: 4px 10px;
    border-radius: 50px;
    text-transform: capitalize;
    font-size: 11px;
    @include typeface-ridi('Paragraph_3_b');
    color: color('white');
    font-weight: 500;
    &.indigo {
      background: color('bg_indigo');
      padding: 6px 13px;
      border-radius: 4px;
      @include typeface-ridi('Paragraph_2b');
      color: #e1e1e1;
      font-weight: 700;
    }
  }
}
.sub-title {
  @include typeface('Heading_3');
}

.next-page-btn {
  padding: 16px 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  z-index: 1000;
  @include typeface-ridi('Heading_3');
  justify-content: flex-end;
  & > .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-180deg);
    animation: move 1s linear infinite;
  }
}
@keyframes move {
  0% {
    transform: rotate(-180deg) translateX(0%);
  }
  50% {
    transform: rotate(-180deg) translateX(-50%);
  }
  70% {
    // transform: rotate(-180deg) translateX(-5%);
  }
  100% {
    transform: rotate(-180deg) translateX(0%);
  }
}
